body{
    font-family: Verdana;
    font-size: 2em;
}

p{
    color: blue;
}

h1{
    color: rgb(10, 249, 170);
}

input {
    padding: 10px 10px;
    margin: 20px 0;
    box-sizing: border-box;
    
}
button{
    font-size: 35px;
    background-color: greenyellow;
}
h3 {
    background-color: #e01b1b;

}